{% extends 'template.html' %}
{% load static %}
{% block content %}
	

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{% static 'danusan/script.js' %}"></script>

	<div class="box-container">
		<div class="box">
			<div class="content-danusan">
				<h1>Danusan</h1>
				<div class="pad">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<th class="table-no" scope="col">
									#
								</th>
								<th class="table-col" scope="col">
									Image
								</th>
								<th class="table-col" scope="col">
									Name
								</th>
								<th class="table-col" scope="col">
									Price
								</th>
								<th class="table-col" scope="col">
									Time
								</th>
							</thead>
							<tbody>
							{% for danusan in danusans %}
							{{ danusan.slug }}
								<tr>
									<td>
										{{ forloop.counter }}
									</td>
									<td>
										{% if danusan.image %}
											<img src= "{{ danusan.image }}" class="card-img-top menu-img">
										{% else %}
											<img src= "https://upload.wikimedia.org/wikipedia/commons/6/6c/No_image_3x4.svg" class="card-img-top menu-img">
										{% endif %}
									</td>
									<td>
										{{ danusan.name }}
									</td>
									<td>
										{{ danusan.price }}
									</td>
									<td>
										{{ danusan.datetime|date:'d/m/Y, H:i:s a' }}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% if user.is_authenticated %}
					<h1>Tambah Danusan</h1>
					<div class="pad" style="padding-top: 2%">
						<form>
							{% csrf_token %}
							{{ generated_html }}
							<br/>
							<input id="button" class="btn btn-dark" type="submit" value="Tambah"/>
						</form>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
