/* ---------------------------------------RESET CSS SETTINGS--------------------------------------- */
p {
    margin: 0;
    font-size: 12pt;
}

/* -----------------------------------------TEMPLATE STYLE----------------------------------------- */

html{
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    color: #1b1b1b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    min-height: 100vh;

}

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: .1rem 3rem;
}

footer {
    clear: both;
    background-color: #2f2f2f;
    bottom: 0;
    color: #F2F2F2;
    left: 0;
    margin-top: auto;
    position: relative;
    width: 100%;
}

footer p {
    padding: 1rem 3rem;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    min-height: 71vh;
    overflow-x: hidden;
}

.content-login{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    height: 40px!important;
}

/* -------------------------------------GENERAL CLASS SETTINGS---------------------------------------- */
.box-container{
    border: 0.09px solid #cacaca;
    background-color: #fbfbfb;
}

.mw200{
    min-width: 30vw;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-custom{
    border-radius: 2px!important;
    min-width: 25vw;
}

.btn-submit{
    min-width: 25vw;
    padding: 8px 20px;
    color: #FFFFFF;
    background-color: #2f2f2f;
    border-radius: 2px;
}

.circle-btn{
    border-radius: 50%;
    background-color: #2f2f2f;
    height: 100px;
    width: 100px;
}

.circle-btn p{
    color: #FFFFFF;
}

.disabled-text{
    color: #acacac;
}

.text-14{
    font-size: 14pt;
}

.text-24{
    font-size: 24pt;
}

.text-16{
    font-size: 16pt;
}

.text-center{
    text-align: center;
}

.img-circle{
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.img-circle img{
    width: auto;
    height: 200px;
}

.flex-col-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}
/* 
.text-container{
    width: 300px;
} */

.flex-row-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
}

.ptserif{
    font-family: 'PT Serif', serif;
}

.card-img-top{
    overflow-y: hidden;
    height: 200px!important;
}

.card-img-top img{
    width: 100%;
}
/* ----------------------------------------SPECIFIC SETTINGS------------------------------------------- */
#notlogin{
    max-width: 30vh;
}
