/* -----------------------------------------TEMPLATE STYLE----------------------------------------- */

body {
    color: #1b1b1b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    min-height: 100vh   ;
}

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: .1rem 3rem;
}

footer {
    background-color: #2f2f2f;
    bottom: 0;
    color: #F2F2F2;
    left: 0;
    position: absolute;
    width: 100%;
}

footer p {
    margin: 1rem 3rem;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 71vh;
    overflow-x: hidden;
}

#nav-logo{
        height: 40px!important  ;
}

/* -------------------------------------GENERAL CLASS SETTINGS---------------------------------------- */
.box-container{
    border: .25px solid #2f2f2f;
}

