<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DNA | Danusan Platform</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}">

</head>

<body>
    <div class="main-content m-5">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="pl-3 px-1">
        <p class="py-3">©2019 DNA (DaNusAn), All rights reserved.</p>
    </footer>
</body>

</html>