{% extends 'template.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'app1.css' %}">
<script type="text/javascript" src="{% static 'app1.js' %}"></script>

<div class="container justify-content-start text-left pt-5 pb-5 serif" style="max-width: 90%;">
    <h1>Bantuan</h1>
</div>
{% for bantuan in list_bantuan %}
{% endfor %}

<div class="container justify-content-start text-left mb-4" style="max-width: 90%;">
    <h2 class="serif mb-4">Punya Pertanyaan?</h2>
    <form action="/submit" method="POST">
        {% csrf_token %}

        <div class="flex-col mb-3">
            <div class="form-group ">
                <label class="text serif" for="nama">Nama </label>
                <br>
                <input type="text" name="nama" id="nama" required>
            </div>
            <small class="text-muted">
                Tulis nama kamu
            </small>
        </div>

        <div class="flex-col mb-5">
            <div class="form-group">
                <label class="text serif" for="pertanyaan">Pertanyaan </label>
                <br>
                <input type="text" name="pertanyaan" id="pertanyaan" required>
            </div>
            <small class="text-muted">
                Tuliskan pertanyaan anda.
            </small>
        </div>

        <button id="kirim" type="submit" class="btn btn-primary">Kirim</button>

    </form>
</div>



{% endblock %}