{% extends 'template.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'app1.css' %}">
<script type="text/javascript" src="{% static 'app1.js' %}"></script>

<div class="container justify-content-start text-left pt-3 pb-5 serif" style="max-width: 90%;">
    <h1>Bantuan</h1>
</div>
<div class="pl-5 pr-5">
    {% for bantuan in list_bantuan %}

    <div class="question-answer-item mb-4 flex-col">

        <button class="accordion p16 pb-3">{{bantuan.pertanyaan}}</button>
        <div class="panel">
            <p class="p-3">{{bantuan.jawaban}}</p>
        </div>

    </div>

    {% endfor %}
</div>

<div class="container justify-content-start text-left mb-4" style="max-width: 90%;">
    <h2 class="serif mb-4">Punya Pertanyaan?</h2>
    <form action="/submit" method="POST">
        {% csrf_token %}

        <div class="flex-col mb-3">
            <div class="form-group ">
                <label class="text serif" for="nama">Nama </label>
                <br>
                <input type="text" name="nama" id="nama" required>
            </div>
            <small class="text-muted">
                Tulis nama kamu
            </small>
        </div>

        <div class="flex-col mb-5">
            <div class="form-group">
                <label class="text serif" for="pertanyaan">Pertanyaan </label>
                <br>
                <input type="text" name="pertanyaan" id="pertanyaan" required>
            </div>
            <small class="text-muted">
                Tuliskan pertanyaan anda.
            </small>
        </div>

        <button id="kirim" type="submit" class="btn btn-primary">Kirim</button>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>



{% endblock %}