{% extends 'template.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'app1.css' %}">
{% if user.is_authenticated %}
<div class="container justify-content-start text-left pt-5 mt-3 pb-5 serif" style="max-width: 90%;">
    <h1><b>Selamat datang, {{user.get_full_name}}!</b></h1>
</div>
<div class="container justify-content-start text-left pb-4 serif" style="max-width: 90%;">
    <h3>Hari ini</h3>
</div>
<div class="container pb-3" style="max-width: 90%;">
    <div class="danus-card-deck">
        <a class="card" style="width: 18rem;" href="">
            <img src="https://sifu.unileversolutions.com/image/id-ID/recipe-topvisual/2/1260-709/risoles-mayonnaise-50425752.jpg"
                class="danus-img card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Risol Mayo</h5>
                <h5 class="card-title">Rp6.000</h5>
                <p class="card-text mt-4">Risol isi mayonnaise, daging asap, dan telur rebus</p>
            </div>
            <div class="card-body">
                <h6 class="card-title">Until December 10, 2019</h6>
                <h6 class="card-title">Contact 14045</h6>
            </div>
        </a>
    </div>
</div>
<button class="btn mt-5 mb-5">Tambah</button>
{% else %}
<div class="container justify-content-center text-center p-5" style="max-width: 60%;">
    <image class="png" src="image.png"></image>
    <h1 class="serif">DNA</h1>
    <h3>Sebuah platform buat kamu yang ingin berbisnis di kampus dan buat kamu yang ingin menghabiskan uang kamu
    </h3>
</div>
<div class="container pb-5" style="max-width: 90%;">
    <h3 class="pb-4 serif">Hari ini</h3>
    <div class="danus-card-deck">
        <a class="card" style="width: 18rem;" href="">
            <img src="https://sifu.unileversolutions.com/image/id-ID/recipe-topvisual/2/1260-709/risoles-mayonnaise-50425752.jpg"
                class="danus-img card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Risol Mayo</h5>
                <h5 class="card-title">Rp6.000</h5>
                <p class="card-text mt-4">Risol isi mayonnaise, daging asap, dan telur rebus</p>
            </div>
            <div class="card-body">
                <h6 class="card-title">Until December 10, 2019</h6>
                <h6 class="card-title">Contact 14045</h6>
            </div>
        </a>
    </div>
</div>
<div class="container justify-content-start text-left pb-5" style="max-width: 90%;">
    <h4>Yuk bergabung dengan kami sekarang juga dan mulailah ngedanus!</h4>
    <button class="btn mt-4 mb-4">Sign up</button>
</div>
{% endif %}

{% endblock %}