{% extends 'template.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'app1.css' %}">
<script type="text/javascript" src="{% static 'app1.js' %}"></script>
{% if user.is_authenticated %}
<div class="container justify-content-start text-left pt-3 mt-3 pb-5 serif" style="max-width: 90%;">
    <h1><b>Selamat datang, {{user.get_full_name}}!</b></h1>
</div>
{% else %}
<div class="container justify-content-center text-center p-5" style="max-width: 60%;">
    <image class="png" src="{% static 'Asset 5@2x.png' %}" style="max-width: 100%;"></image>
    <h1 class="serif">DNA</h1>
    <h3>Sebuah platform buat kamu yang ingin berbisnis di kampus dan buat kamu yang ingin menghabiskan uang kamu
    </h3>
</div>
{% endif %}
<div class="container pb-5" style="max-width: 90%;">
    <h3 class="pb-4 serif">Hari ini</h3>
    <div class="danus-card-deck">
    </div>
</div>
{% if user.is_authenticated %}
<div class="container justify-content-center text-center" style="max-width: 90%;">
    <button class="btn mt-5 mb-5">Tambah</button>
</div>
{% else %}
<div class="container justify-content-start text-left pb-5" style="max-width: 90%;">
    <h4>Yuk bergabung dengan kami sekarang juga dan mulailah ngedanus!</h4>
    <button class="btn mt-4 mb-4">Sign up</button>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

{% endblock %}